html {
    height: 1vh;
}

body {
    text-align: center;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #B30077 50%, #FF5500  50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }

#header {
    font-size: 140px;
    color: white;
    font-family: 'Staatliches', cursive;
    text-shadow: 2px 2px 3px #0D004D;
    padding: 15px;
    margin: 30px;
}

#generator-button-container {
    margin: 10px;
    padding: 15px;
}

#generator-button {
    width: 300px;
    height: 300px;
    font-size: 30px;
    color: white;
    background-color: #0D004D;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    font-family: 'Staatliches', cursive;
}

#activity-result {
    margin: 45px;
    padding: 45px;
    font-size: 50px;
    color: white;
    font-family: 'Staatliches', cursive;
    text-align: center;
    text-shadow: 1px 1px 2px #0D004D;
}

#activity-result-container {
    background: rgba(239, 237, 237, 0.5);
    height: 200px;
    width: 900px;
    margin: 45px;
    margin-right: auto;
    margin-left: auto;
}

#or-container {
    font-size: 35px;
    color: #0D004D;
    font-family: 'Staatliches', cursive;
}

#activity-title {
    padding: 15px;
    font-size: 35px;
    color: white;
    font-family: 'Staatliches', cursive;
}

#activity-filter-container {
    margin: 0px;
}

.radio {
    font-size: 30px;
    padding: 25px;
    color: white;
    font-family: 'Staatliches', cursive;
    cursor: pointer;
}

#button {
    padding: 25px;
}

#submit-button {
    font-family: 'Staatliches', cursive;
    font-size: 19px;
    height: 60px;
    width: 200px;
    cursor: pointer;
}

@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }