body {
    text-align: center;

    background-color: #f5f3e9;


}

#header {
    font-size: 100px;

    color: rgb(8, 8, 72);
    text-shadow: 2px 2px 3px tomato;

    color: rgb(43, 94, 97);

}

#generator-button-container {
    margin: 45px;
    padding: 0px;
}

#generator-button {
    width: 400px;
    height: 200px;
    font-size: 30px;

    background-color: tomato;
    cursor: pointer;


}

#activity-results {
    margin: 45px;
    padding: 45px;
}

#activity-filter-container {
    margin: 45px;
}

